<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <#include "style.css">

</head>

<body>
    <form method="POST">
        <label>Name:</label> <input type = "text" name="name"> <br>
        <label>Password:</label> <input type = "password" name="password"> <br>
        <input type="submit" value="login">
    </form>
</body>

</html>
