<style type="text/css">

body {
    background-color: antiquewhite;
}

*, *:before, *:after {
    box-sizing: inherit;
}
p {
    display: block;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*, *:before, *:after {
    box-sizing: inherit;
}

</style>